<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>
<% @movies.each do |movie| %>
<div>
<h2>Nombre: <%=movie.name%></h2>
<h2>Synopsis: <%=movie.synopsis%></h2>
<h2>Director: <%=movie.director%></h2>
<hr>
</div>
<% end %>