<h1>Series#index</h1>
<p>Find me in app/views/series/index.html.erb</p>
<% @series.each do |serie| %>
<div>
<h2>Nombre: <%=serie.name%></h2>
<h2>Synopsis: <%=serie.synopsis%></h2>
<h2>Director: <%=serie.director%></h2>
<hr>
</div>
<% end %>